/******************************************************************************
  * main.css
  *
  ****************************************************************************/
  
body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 5px;
}

input[type="number"] {
    text-align: right;
}

button:not(:disabled):hover {
    background-color: #aaaaaa
}

textarea {
    font-family: sans-serif;
    resize: vertical !important;
}

/*****************************************************************************/

#header {
    display: flex;
    flex-direction: row;
    height: 170px;
    background-image: url('../assets/banner.jpg');
    background-size: contain;
    background-repeat: repeat;
}

#logo {
    width: 150px;
    height: 120px;
    filter: invert();
    margin: 20px;
}

#titleContainer {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/circuit_board.jpg');
    background-size: contain;
    background-repeat: repeat;
}

#title {
    font-size: 48px;
    font-weight: bold;
    margin: 15px;
    color: white;
    height: 120px;
}

#subtitle {
    font-size: 28px;
    font-weight: bold;
    color: white;
    height: 50px;
}

#login-container {
    display: none;
    flex-direction: column;
    margin-top: 40px;
    width: 400px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

#menu-bar {
    height: 40px;
    padding: 5px;
    gap: 10px;
    font-size: 24px;
    line-height: 40px;
}


#total-cost-line {
    display: flex;
    height: 35px;
    font-weight: bold;
    line-height: 35px;
}

#order-total-cost {
    width: 100px;
    border: 1px solid lightgray;
    text-align: right;
    margin-right: 5px;
    margin-left: auto;
}

/*****************************************************************************/

.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px;
    position: relative;
    min-width: 0;
}

.icon-button {
    border-radius: 5px;
    border-width: 0;
    width: 30px;
    height: 30px;
    margin: 2px;
    transition: all 200ms;
    float: right;
}

.text-button {
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    background-color: #cccccc;
    padding: 10px 12px;
    transition: all 200ms;
}

.grid {
    height: 100%;
    width: 100%;
}

.form {
    width: 429px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 7px;
}

.nav-button {
    background-color: #bfc7ed;
    align-self: flex-end;
}

.toolbar {
    line-height: 40px;
    display: inline-block;
}

.dialog {
    border-width: 0;
    border-radius: 10px;
}

/******************************************************************************
* SurveyJS customization
******************************************************************************/

.sv-scroll__scrollbar-sizer {
    display: none;
}

.sd-input {
    width: 400px;
}

.sd-input--readonly {
    background-color: #e9ecef;
}